/*////////////// Fonts //////////////*/

@font-face {
	font-family: Baskerville;
	src: url(fonts/Baskerville.ttc);
  }

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

header {
	font-family: Baskerville;
}

img {
	border: 5px rgb(152, 173, 166) solid;
}

h2 {
	color: rgb(111, 127, 122);
	font-size: 2em;
}

p {
	font-size: 1em;
	color: #555;
	margin: 0 0 20px 0;
}

#About a {
	color: #1783bb;
}

/* #Press img {
	hover effect
} */

footer {
	text-align: right;
}